body {
    margin: 0;  
    line-height: 1.6;
    background: rgb(255, 207, 104);
    justify-content: center;
    text-align: center;

}



.profile {
    display:flex ;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}

text {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    justify-content: center;
    text-align: right;
    
    

}
.about {
    text-align: left;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 555px;
    margin-bottom: 250px;
   
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.profile-pic  {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ccc;
    background-image: url('images/hamza.webp');
    position: absolute ;
    right: 0;
    top: 50;
    margin-right: 50px;
    margin-top: 50px;
}
