.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #333;
    color: white; /* Ensures text color is white */
    text-align: center;
    z-index: 1000;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgb(0,0,0);
    border-radius: 10px;
}

.sticky-header nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

.sticky-header nav ul li {
    margin: 0 15px;
}

.sticky-header nav ul li a {
    color: white; /* Ensures link text color is white */
    text-decoration: none;
    text-align: center;
    /* margin-left: 500px;
    margin-right: -500px;  */
} 
@media (min-width: 720px) and (max-width: 1800px){
    .sticky-header{
        margin-left: 0;
        font-size: 1rem;
        margin-right: 0;
    }
    
}
@media (min-width: 1081px){
    .button{
       font-size: 3rem;
    }
}          
.body{
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   height: 0;

}